ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

img {
  max-width: 100%; }

label {
  margin-bottom: 0; }

button {
  outline: none; }
  button:focus {
    outline: none; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes cubic-block {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  70% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes rotate-circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
.ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }

.rippleWave {
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7);
  background: white;
  opacity: 0.45;
  animation: ripple 2s forwards; }

@keyframes ripple {
  to {
    transform: scale(24);
    opacity: 0; } }
@keyframes xoay {
  0% {
    transform: rotateY(0); }
  50% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(360deg); } }
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.md-show {
  visibility: visible; }

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show ~ .md-overlay {
  opacity: 0.56;
  visibility: visible; }

/* Individual modal styles with animations/transitions */
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

/* Effect 2: Slide from the right */
.md-effect-2 .md-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); }

.md-show.md-effect-2 .md-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }

.md-effect-14.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px; }

.md-effect-14 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(100%) rotateX(90deg);
  -moz-transform: translateY(100%) rotateX(90deg);
  -ms-transform: translateY(100%) rotateX(90deg);
  transform: translateY(100%) rotateX(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.md-show.md-effect-14 .md-content {
  -webkit-transform: translateY(0%) rotateX(0deg);
  -moz-transform: translateY(0%) rotateX(0deg);
  -ms-transform: translateY(0%) rotateX(0deg);
  transform: translateY(0%) rotateX(0deg);
  opacity: 1; }

.progress-tooltip {
  position: relative;
  z-index: 1; }
  .progress-tooltip:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 9px;
    background: #DBF1DD;
    z-index: -1; }
  .progress-tooltip .progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    display: block;
    height: 9px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    background: none;
    animation: run 2s forwards ease; }
    .progress-tooltip .progress::-webkit-progress-bar {
      background-color: #ccc; }
    .progress-tooltip .progress::-webkit-progress-value {
      border-radius: 5px;
      background-color: #00990E;
      width: 0; }
    .progress-tooltip .progress::-moz-progress-bar {
      border-radius: 5px;
      background-color: #00990E; }
    .progress-tooltip .progress::-ms-fill {
      border-radius: 5px;
      background-color: #00990E;
      border: none; }
    .progress-tooltip .progress::-webkit-progress-bar {
      background-color: transparent; }
    .progress-tooltip .progress::-moz-progress-bar {
      background-color: transparent; }

@keyframes run {
  from {
    width: 0%; }
  to {
    width: 100%; } }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #606060;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Helvetica Neue'; }

.body-wrap {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

html, body {
  height: 100%; }

.push {
  height: 147px; }

.dp-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.overlay {
  background: rgba(22, 73, 137, 0.3882352941);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background: url("../img/icon-caret-down-02.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  background-size: 8px 5px; }
  select.select-icon-up {
    background: #fff url("../img/icon-up-select-03.svg") no-repeat;
    background-position: center right 16px;
    background-size: 8px 5px; }

.overlay {
  background: #000;
  opacity: 0.5;
  z-index: 1;
  cursor: pointer; }

.flex-center {
  display: flex;
  align-items: center; }

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.cl-green {
  color: #00990E; }

.container-main.pd-99 {
  padding-top: 99px; }

.block-white-intro {
  background: #fff;
  padding: 18px 25px;
  border-radius: 3px; }

.c-blue {
  color: #1476C6; }

.row-ss {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }

.container {
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto; }

.row-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px; }

.row-gd-54 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -27px; }

.col-gd-73 {
  padding: 0 27px;
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
  max-width: 73%;
  position: relative; }

.col-gd-27 {
  padding: 0 27px;
  -ms-flex: 0 0 27%;
  flex: 0 0 27%;
  max-width: 27%;
  position: relative; }

.row-gd-44 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -22px; }

.col-gd-35 {
  padding: 0 22px;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
  position: relative; }

.col-gd-65 {
  padding: 0 22px;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
  position: relative; }

.container-login {
  max-width: 1159px;
  padding: 0 42px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .container-login {
      max-width: 1105px;
      padding: 0 15px; } }

.row-login-42 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -42px; }
  @media (max-width: 991px) {
    .row-login-42 {
      margin: 0 -15px; } }

.col-login-6 {
  padding: 0 42px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }
  @media (max-width: 991px) {
    .col-login-6 {
      padding: 0 15px; } }
  @media only screen and (max-width: 767px) {
    .col-login-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      .col-login-6 .banner-login {
        display: none; } }

.row-other-6 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -6px; }

.col-other-6 {
  padding: 0 6px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }

.container-regis {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  background: #fff; }
  @media (max-width: 991px) {
    .container-regis {
      max-width: 1105px;
      padding: 0 15px; } }

.row-regis-63 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -63px; }
  @media (max-width: 991px) {
    .row-regis-63 {
      margin: 0 -15px; } }

.col-regis-6 {
  padding: 0 63px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }
  @media (max-width: 991px) {
    .col-regis-6 {
      padding: 0 15px; } }
  @media only screen and (max-width: 767px) {
    .col-regis-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.container-main {
  max-width: 1216px;
  padding: 0 8px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .container-main {
      max-width: 1105px;
      padding: 0 15px; } }

.row-main-8 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px; }

.col-main-17 {
  padding: 0 8px;
  -ms-flex: 0 0 17%;
  flex: 0 0 17%;
  max-width: 17%;
  position: relative; }

.col-main-83 {
  padding: 0 8px;
  -ms-flex: 0 0 83%;
  flex: 0 0 83%;
  max-width: 83%;
  position: relative; }

.row-lesson-5 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -5px; }

.col-lesson-3 {
  padding: 0 5px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative; }

.col-lesson-32 {
  padding: 0 5px;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  max-width: 32%;
  position: relative; }

.col-lesson-68 {
  padding: 0 5px;
  -ms-flex: 0 0 68%;
  flex: 0 0 68%;
  max-width: 68%;
  position: relative; }

.change-icon-mb .line-1 {
  transform: translateY(9px) translateX(0) rotate(45deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-1 {
      transform: translateY(8px) translateX(0) rotate(45deg); } }
.change-icon-mb .line-2 {
  opacity: 0;
  transition: all 0.3s; }
.change-icon-mb .line-3 {
  transform: translateY(-9px) translateX(0) rotate(-46deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-3 {
      transform: translateY(-6px) translateX(0) rotate(-46deg); } }

.header-gd {
  background: #fff;
  box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.41);
  position: absolute;
  width: 100%;
  top: 0;
  transition: all 0.3s;
  z-index: 99; }
  .header-gd.fixed {
    transition: all 1s;
    position: fixed;
    top: 0; }
    .header-gd.fixed .head-wrap {
      padding: 13px 0; }
      .header-gd.fixed .head-wrap .logo h1 a {
        line-height: 12px; }
        .header-gd.fixed .head-wrap .logo h1 a img {
          height: 19px;
          transition: all 0s; }

.block-connect a {
  display: inline-block;
  margin-right: 12px; }
  .block-connect a i {
    color: #1476C6;
    font-weight: 700;
    font-size: 13px;
    transition: all 0.3s; }
  .block-connect a:hover i {
    color: #FFDA00;
    transition: all 0.3s; }

.head-wrap {
  padding: 31px 0; }

.logo h1 {
  margin: 0; }
  .logo h1 a {
    display: block;
    line-height: 20px; }
    .logo h1 a img {
      height: 27px; }

.head-right ul li {
  display: inline-block;
  margin-right: 15px; }
  .head-right ul li > a {
    color: #1476C6;
    font-weight: 500; }
    .head-right ul li > a:hover {
      text-decoration: underline; }
  .head-right ul li label {
    color: #1476C6;
    margin-right: 15px; }
  .head-right ul li:last-child {
    margin-right: 0; }

.wrap-search {
  position: relative; }
  .wrap-search > i {
    color: #1476C6;
    cursor: pointer; }

.block-seacrh {
  display: none;
  position: absolute;
  top: 25px;
  left: 0; }
  .block-seacrh:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 1px;
    border-bottom: 5px solid #1b76c4;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; }
  .block-seacrh input {
    border: 1px solid #1476C6;
    border-radius: 3px;
    height: 25px;
    padding: 5px 21px 5px 5px;
    color: #1476C6;
    outline: none; }
  .block-seacrh .btn-search {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    top: 4px;
    color: #1476c6; }

.navigation {
  background: #1476C6; }

.menu li {
  float: left; }
  .menu li a {
    display: block;
    padding: 19px 37px;
    color: #fff;
    font-weight: 500;
    position: relative;
    transition: all 0.3s; }
    .menu li a:after {
      content: '';
      position: absolute;
      top: 51px;
      left: 0;
      height: 3px;
      width: 100%;
      background: #FFDA00;
      display: block;
      background: #FFDA00;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1); }
  .menu li:hover a {
    color: #FFDA00;
    transition: all 0.3s; }
    .menu li:hover a:after {
      transform-origin: left;
      transform: scaleX(1); }

.choose-language ul {
  margin: 19px 0; }
  .choose-language ul li a {
    color: #fff; }

.singup-now h2 {
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  margin-right: 39px; }
.singup-now .enter-email {
  border-radius: 30px;
  background: #0065C8;
  border: none;
  height: 45px;
  outline: none;
  padding: 0 36px;
  color: #fff;
  width: 523px;
  margin-right: 43px; }
  .singup-now .enter-email::-webkit-input-placeholder {
    /* Edge */
    color: #4FAEFC;
    font-style: italic; }
  .singup-now .enter-email:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #4FAEFC;
    font-style: italic; }
  .singup-now .enter-email::placeholder {
    color: #4FAEFC;
    font-style: italic; }
.singup-now .btn-singup-now {
  height: 45px;
  width: 253px;
  background: #FFDA00;
  color: #1476C6;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.3s; }
  .singup-now .btn-singup-now:hover {
    box-shadow: 1px 2px 14px #838383;
    transition: all 0.3s; }

.singup-bg {
  background: #1476C6 url(../img/singupnow.png);
  padding-top: 42px;
  padding-bottom: 41px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  position: relative; }
  .singup-bg:after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 1000px;
    height: 100%;
    background: #1476C6 url(../img/singupnow.png); }

.sc-banner {
  position: relative;
  padding-top: 143px; }
  .sc-banner .singup-fast-block {
    position: absolute;
    bottom: -61px;
    right: calc((100% - 1230px)/2); }
  @media (max-width: 1250px) {
    .sc-banner .singup-fast-block {
      width: 100%;
      position: relative;
      right: unset; }
      .sc-banner .singup-fast-block .singup-bg {
        border-radius: 70px;
        justify-content: center; }
        .sc-banner .singup-fast-block .singup-bg:after {
          display: none; } }
  @media (max-width: 1110px) {
    .sc-banner .enter-email {
      width: 323px; }
    .sc-banner .btn-singup-now {
      width: 175px; } }
  @media (max-width: 991px) {
    .sc-banner .singup-now h2 {
      margin-right: 10px; }
    .sc-banner .enter-email {
      width: 300px;
      margin-right: 6px; } }
  @media only screen and (max-width: 767px) {
    .sc-banner .singup-bg {
      flex-direction: column;
      padding: 20px 15px;
      border-radius: 6px; }
    .sc-banner form {
      width: 100%;
      text-align: center; }
    .sc-banner .enter-email {
      display: block;
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px; }
    .sc-banner .singup-now h2 {
      margin-right: 0;
      margin-bottom: 20px; } }

.sc-basic-course {
  padding: 162px 0 120px; }

.title-pg {
  font-size: 40px;
  color: #1476C6;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: uppercase;
  text-align: center; }

.sub-sc {
  color: #727272;
  font-weight: 500;
  margin-bottom: 68px;
  text-align: center; }

.item-subject a {
  display: block;
  padding-top: 38px;
  padding-bottom: 33px; }
.item-subject .block-img {
  height: 54px;
  margin-bottom: 20px; }
  .item-subject .block-img img {
    height: 100%;
    margin: 0 auto; }
    .item-subject .block-img img.icon-th {
      width: 34px; }
    .item-subject .block-img img.icon-vl {
      width: 54px; }
    .item-subject .block-img img.icon-hh {
      width: 43px; }
    .item-subject .block-img img.icon-thx {
      width: 41px; }
    .item-subject .block-img img.icon-ta {
      width: 51px; }
.item-subject span {
  display: block;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase; }

.slick-bs-course .slick-slide {
  background: #0065C8; }

.slick-bs-course .slick-slide:nth-child(2n) {
  background: #1476C6; }

.sc-featured-lectures {
  padding-bottom: 73px; }
  .sc-featured-lectures .title-pg {
    margin-bottom: 48px; }

.sub-lesson {
  margin-top: 64px; }
  .sub-lesson .text-rate {
    margin-bottom: 27px; }
  .sub-lesson .title-sub {
    color: #0065C8;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase; }
  .sub-lesson .rate-lesson i {
    color: #FFDA00; }
  .sub-lesson .sub-item-slide {
    color: #BABABA;
    font-weight: 500; }

.sc-news {
  padding-top: 73px;
  padding-bottom: 82px; }

.head-news {
  padding-bottom: 19px;
  border-bottom: 3px solid #0065C8;
  align-items: baseline; }
  .head-news .title-news {
    color: #0065C8;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0; }
  .head-news .continue-watch {
    font-size: 12px;
    color: #565656; }
    .head-news .continue-watch:hover {
      color: #0065C8;
      text-decoration: underline; }

.block-news {
  padding-top: 26px; }
  .block-news .name-news {
    margin-bottom: 27px;
    line-height: 0; }
    .block-news .name-news a {
      font-size: 22px;
      font-weight: 500;
      line-height: 26px;
      color: #0065C8;
      transition: all 0.3s;
      display: block;
      overflow: hidden;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      display: -webkit-box; }
      .block-news .name-news a:hover {
        color: #FFDA00;
        transition: all 0.3s; }
  .block-news .img-news {
    display: block;
    height: 100%;
    overflow: hidden; }
    .block-news .img-news img {
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
      transform: scale(1); }
    .block-news .img-news:hover img {
      transform: scale(1.1);
      transition: all 0.3s;
      opacity: 0.9; }

.time-news {
  font-size: 12px;
  color: #A3A3A3;
  margin-bottom: 13px; }

.sub-news {
  color: #BABABA;
  margin-bottom: 18px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box; }

.view-detail {
  font-family: 'Roboto';
  font-weight: 500;
  color: #fff;
  background: #0065C8;
  padding: 9px 26px 8px;
  display: inline-block;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.3s;
  margin-bottom: 16px; }
  .view-detail:hover {
    color: #0065C8;
    transition: all 0.3s;
    background: #FFDA00; }

.related-news {
  border-top: 1px solid #DEDEDE;
  padding-top: 22px; }
  .related-news .name-related {
    margin-bottom: 0;
    line-height: 0; }
    .related-news .name-related a {
      color: #0065C8;
      font-size: 14px;
      line-height: 16px;
      transition: all 0.3s;
      overflow: hidden;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      display: -webkit-box; }
      .related-news .name-related a:hover {
        color: #FFDA00;
        transition: all 0.3s; }

.list-course ul {
  max-height: 405px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .list-course ul::-webkit-scrollbar {
    width: 5px; }
  .list-course ul::-webkit-scrollbar-track {
    border-radius: 10px; }
  .list-course ul::-webkit-scrollbar-thumb {
    background: #0065C8;
    border-radius: 10px; }
  .list-course ul::-webkit-scrollbar-thumb:hover {
    background: #1476C6; }
  .list-course ul li {
    padding-top: 24px;
    border-top: 1px solid #DEDEDE; }
    .list-course ul li a {
      font-family: 'Roboto';
      font-weight: 500;
      color: #0065C8;
      margin-bottom: 11px;
      overflow: hidden;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box; }
      .list-course ul li a:hover {
        color: #FFDA00; }
    .list-course ul li .time-news {
      margin-bottom: 16px; }
    .list-course ul li:first-child {
      border-top: none; }

.sc-research {
  padding: 112px 0 119px;
  background: #F2F5F9; }
  .sc-research .title-research {
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 54px;
    color: #0065C8;
    margin-top: 36px; }

.wrap-research {
  position: relative; }
  .wrap-research .block-research {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 73px 65px;
    width: 120%;
    z-index: 1; }
    .wrap-research .block-research .time-news {
      margin-bottom: 33px; }
    .wrap-research .block-research .link-research {
      display: block;
      font-size: 25px;
      line-height: 30px;
      color: #0065C8;
      margin-bottom: 25px;
      font-weight: 500;
      transition: all 0.3s; }
      .wrap-research .block-research .link-research:hover {
        color: #FFDA00;
        transition: all 0.3s; }
    .wrap-research .block-research .sub-news {
      margin-bottom: 38px; }

.container.change-container {
  max-width: 1110px; }

.pd-143 {
  padding-top: 143px; }

.container-login {
  margin-top: 145px; }

.logo-login {
  margin-bottom: 44px; }
  .logo-login img {
    height: 27px; }
  @media only screen and (max-width: 767px) {
    .logo-login {
      margin-bottom: 20px; } }

.title-login {
  margin-bottom: 32px;
  font-weight: 700;
  color: #1476C6;
  font-size: 20px; }
  @media only screen and (max-width: 767px) {
    .title-login {
      margin-bottom: 15px; } }

.field-login input[type="text"]:focus ~ label.lbl-field, .field-login input[type="number"]:focus ~ label.lbl-field, .field-login input[type="password"]:focus ~ label.lbl-field, .field-login input[type="text"]:valid ~ label.lbl-field, .field-login input[type="number"]:valid ~ label.lbl-field, .field-login input[type="password"]:valid ~ label.lbl-field {
  font-size: 12px;
  color: #1476C6;
  top: 10px;
  transition: all 0.3s cubic-bezier(0.2, 0, 0.03, 1);
  padding: 1px 5px; }
  @media only screen and (max-width: 576px) {
    .field-login input[type="text"]:focus ~ label.lbl-field, .field-login input[type="number"]:focus ~ label.lbl-field, .field-login input[type="password"]:focus ~ label.lbl-field, .field-login input[type="text"]:valid ~ label.lbl-field, .field-login input[type="number"]:valid ~ label.lbl-field, .field-login input[type="password"]:valid ~ label.lbl-field {
      top: 5px; } }

.field-login {
  position: relative;
  margin-bottom: 11px; }
  .field-login span {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s cubic-bezier(0, 0, 0.14, 0.76);
    background: #1476C6; }
  .field-login input[type="text"], .field-login input[type="number"], .field-login input[type="password"] {
    height: 57px;
    font-size: 14px;
    color: #1476C6;
    border-radius: 4px;
    width: 100%;
    background: #E2EEF7;
    padding: 23px 18px 10px;
    outline: none;
    border: none;
    position: relative;
    font-weight: 700; }
    .field-login input[type="text"]:focus ~ label.lbl-field, .field-login input[type="number"]:focus ~ label.lbl-field, .field-login input[type="password"]:focus ~ label.lbl-field {
      color: #1476C6; }
    .field-login input[type="text"]:focus ~ span, .field-login input[type="number"]:focus ~ span, .field-login input[type="password"]:focus ~ span {
      transition: 0.3s cubic-bezier(0, 0, 0.14, 0.76);
      width: 100%; }
    @media only screen and (max-width: 576px) {
      .field-login input[type="text"], .field-login input[type="number"], .field-login input[type="password"] {
        height: 45px;
        padding: 22px 18px 10px; } }
  .field-login label.lbl-field {
    position: absolute;
    top: 19px;
    left: 14px;
    color: #1476C6;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    padding: 1px 5px 1px 5px;
    border-radius: 3px;
    background: transparent; }
    @media only screen and (max-width: 576px) {
      .field-login label.lbl-field {
        top: 13px; } }

.btn-blue {
  height: 57px;
  background: #1476C6;
  color: #fff;
  font-weight: 500;
  border: none;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 576px) {
    .btn-blue {
      height: 45px; } }

.remember-pass label {
  color: #1476C6;
  margin-left: 9px; }

.forgot-pass {
  color: #1476C6; }
  .forgot-pass:hover {
    text-decoration: underline; }

.or {
  margin-top: 27px;
  margin-bottom: 24px;
  background: #90BEE3;
  height: 1px;
  width: 100%;
  position: relative; }
  .or div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 9px;
    background: #fff;
    color: #1476C6; }

.show-pass {
  background: none;
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 22px;
  border: none; }
  .show-pass img {
    width: 20px;
    height: 18px; }
    .show-pass img.img-show-pass {
      display: block; }
    .show-pass img.img-hide-pass {
      display: none; }

.block-cn-lg {
  border: none;
  background: #4267B2;
  width: 100%;
  text-align: left;
  padding: 15px 13px;
  border-radius: 3px; }
  .block-cn-lg img {
    width: 27px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px; }
  .block-cn-lg span {
    color: #fff;
    vertical-align: middle;
    margin-left: 11px; }
  .block-cn-lg.gg-cn-lg {
    background: #D34836; }
  @media only screen and (max-width: 576px) {
    .block-cn-lg {
      padding: 9px 13px; } }

.login-other {
  margin-bottom: 15px; }

.sugges-regis {
  margin-bottom: 15px; }
  .sugges-regis span {
    color: #727272;
    font-weight: 500;
    margin-right: 16px; }
  .sugges-regis a {
    color: #1476C6; }
    .sugges-regis a:hover {
      text-decoration: underline; }

.banner-login {
  height: 100%;
  object-fit: cover; }

.modal-small {
  max-width: 780px;
  padding: 0 15px;
  width: 100%; }
  .modal-small .txt-forgot {
    color: #1476C6;
    margin: 21px 0 12px; }
  .modal-small .ip-forgot::-webkit-input-placeholder {
    /* Edge */
    color: #5FAAD3;
    font-style: italic; }
  .modal-small .ip-forgot:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #5FAAD3;
    font-style: italic; }
  .modal-small .ip-forgot::placeholder {
    color: #5FAAD3;
    font-style: italic; }

.btn-close {
  color: #fff;
  border: none;
  background: none;
  font-size: 18px; }

.txt-otp {
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 19px; }

.field-otp {
  height: 57px;
  font-size: 14px;
  color: #1476C6;
  border-radius: 4px;
  background: #E2EEF7;
  padding: 10px 18px 10px;
  outline: none;
  border: none;
  position: relative;
  font-weight: 700;
  width: 35%;
  text-align: center; }

.modal-small.md-otp {
  max-width: 550px; }

.modal {
  left: 50%;
  transform: translateX(-50%); }

.modal .modal-dialog {
  margin: 0;
  max-width: initial;
  top: 50%;
  transform: translateY(-50%); }

.modal.show .modal-dialog {
  transform: translateY(-50%); }

/* Content styles */
.md-content {
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  filter: blur(0); }
  @media only screen and (max-width: 576px) {
    .md-content {
      padding: 15px; } }

.md-otp .head-modal {
  background: #1576C7;
  padding: 8px 19px; }
  .md-otp .head-modal h3 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0; }
    @media only screen and (max-width: 576px) {
      .md-otp .head-modal h3 {
        font-size: 18px; } }
.md-otp .main-modal {
  padding: 18px; }
.md-otp .group-otp {
  margin-bottom: 16px; }
  .md-otp .group-otp .lbl-otp {
    color: #1476C6;
    margin-bottom: 9px; }
  .md-otp .group-otp .itemip-otp {
    position: relative; }
    .md-otp .group-otp .itemip-otp input {
      background: #E7F1FA;
      width: 100%;
      height: 57px;
      padding: 0 23px;
      border: none;
      border-radius: 3px; }
      .md-otp .group-otp .itemip-otp input::-webkit-input-placeholder {
        font-style: italic;
        color: #697B87; }
      .md-otp .group-otp .itemip-otp input:-ms-input-placeholder {
        font-style: italic;
        color: #697B87; }
      .md-otp .group-otp .itemip-otp input::placeholder {
        font-style: italic;
        color: #697B87; }
    .md-otp .group-otp .itemip-otp .send-otp {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: #1576C7;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      padding: 5px 10px; }
      .md-otp .group-otp .itemip-otp .send-otp > span {
        display: none; }
      .md-otp .group-otp .itemip-otp .send-otp.active {
        background: #6F8C9B; }
        .md-otp .group-otp .itemip-otp .send-otp.active > span {
          display: inline-block; }
.md-otp .resend-otp {
  margin-bottom: 16px;
  font-weight: 500;
  color: #606060; }

.foot-confirmlogin .cf-otp-left a {
  color: #1476C6;
  display: inline-block;
  margin-bottom: 6px; }
.foot-confirmlogin .cf-otp-left div {
  font-weight: 500; }
.foot-confirmlogin .btn-blue {
  width: auto;
  padding: 0 50px; }

.bg-registation {
  padding-top: 157px;
  background: url("../img/banner-regis.png") no-repeat center top; }
  @media (max-width: 991px) {
    .bg-registation {
      padding-top: 70px; } }

.regis-other button {
  margin-bottom: 15px; }

.container-regis .or {
  margin-top: 127px; }
  @media only screen and (max-width: 767px) {
    .container-regis .or {
      margin-top: 9px; } }
.container-regis .btn-login {
  margin-top: 7px; }

.shadow-regis {
  box-shadow: 1px 18px 44px #a09d9d;
  padding: 82px 104px 115px; }
  @media (max-width: 991px) {
    .shadow-regis {
      padding: 40px; } }
  @media only screen and (max-width: 576px) {
    .shadow-regis {
      padding: 20px 15px; } }

.main-gd {
  padding-bottom: 43px;
  background: #F2F5F9; }

.side-bar {
  background: url("../img/bg-col-left.png") no-repeat bottom center, url("../img/bg-col-left-small.png") repeat-x top center;
  padding: 81px 0 128px;
  min-height: 747px;
  background-size: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative; }

.container-main {
  padding-top: 143px; }

.block-user {
  margin-bottom: 38px;
  text-align: center; }
  .block-user .box-avt {
    margin-bottom: 14px; }
    .block-user .box-avt img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      margin: auto; }
  .block-user .name-user {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #fff; }
  .block-user .change-pass {
    color: #93D7F9;
    font-size: 12px;
    text-align: center;
    display: inline-block; }

.list-sidebar li {
  position: relative; }
  .list-sidebar li a {
    color: #fff;
    font-weight: 500;
    display: block;
    padding: 11px 37px; }
    .list-sidebar li a:hover {
      color: #FFDA00; }
  .list-sidebar li:before {
    content: '';
    width: 4px;
    height: 18px;
    background: #FFDA00;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none; }
  .list-sidebar li.active a {
    color: #FFDA00; }
  .list-sidebar li.active:before {
    display: block; }

.btn-logout {
  position: absolute;
  bottom: 129px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 0;
  border-radius: 3px;
  text-align: center;
  box-shadow: 1px 3px 11px rgba(21, 21, 21, 0.3215686275);
  color: #fff;
  width: 135px;
  background: #218DD6;
  border: none;
  transition: all 0.3s; }
  .btn-logout:hover {
    background: #fff;
    color: #1476C6;
    transition: all 0.3s; }

.title-main {
  margin: 47px 0 22px;
  font-weight: 700;
  font-size: 18px;
  color: #1476C6;
  text-transform: uppercase; }

.img-light {
  display: none; }

.active .img-dark {
  display: none; }
.active .img-light {
  display: inline-block; }

.tabs-object .nav-tabs {
  border-bottom: none;
  margin-bottom: 26px; }
.tabs-object .nav-item .nav-link {
  margin-right: 18px;
  width: 150px;
  height: 45px;
  padding: 11px 17px;
  border: none; }
  .tabs-object .nav-item .nav-link img {
    width: 23px;
    height: 23px;
    object-fit: contain;
    margin-right: 4px; }
  .tabs-object .nav-item .nav-link span {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle; }
  .tabs-object .nav-item .nav-link.active {
    border-radius: 40px;
    border: none;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.0901960784); }
    .tabs-object .nav-item .nav-link.active span {
      color: #1476C6; }
  .tabs-object .nav-item .nav-link:hover {
    background: #fff;
    border-radius: 40px;
    border: none;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.0901960784); }
    .tabs-object .nav-item .nav-link:hover .img-dark {
      display: none; }
    .tabs-object .nav-item .nav-link:hover .img-light {
      display: inline-block; }

.block-white {
  padding: 36px;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 27px; }

.class-9 .class-block {
  background: url("../img/bg-class-9.png") no-repeat 100% 100%; }

.class-8 .class-block {
  background: url("../img/bg-class-8.png") no-repeat 100% 100%; }

.class-7 .class-block {
  background: url("../img/bg-class-7.png") no-repeat 100% 100%; }

.class-block {
  margin-right: 27px;
  position: relative;
  width: 63px;
  height: 87px;
  background-size: 100%; }
  .class-block span {
    text-align: center;
    display: block;
    color: #fff; }
    .class-block span.text-class {
      font-weight: 700;
      margin-bottom: 10px;
      margin-top: 7px; }
    .class-block span.number-class {
      font-weight: 500;
      font-size: 40px; }
  .class-block > img {
    width: 22px;
    height: 22px;
    position: absolute;
    top: -11px;
    right: -11px; }

.block-progress {
  width: calc(100% - 100px); }
  .block-progress .progress-top {
    margin-bottom: 18px; }
    .block-progress .progress-top span {
      font-weight: 500; }

.wrap-progress {
  margin-bottom: 20px; }

.img-lesson {
  display: block;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14); }
  .img-lesson:before {
    content: '';
    display: block;
    padding-bottom: 53%; }
  .img-lesson > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .img-lesson:after {
    content: '';
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FFDA00;
    width: 100%;
    opacity: 0;
    transition: all 0.3s; }
  .img-lesson .btn-play {
    position: absolute;
    top: 46%;
    left: 9px; }
    .img-lesson .btn-play img {
      width: 27px;
      height: 27px; }
  .img-lesson .nb-minute {
    width: 108px;
    height: 108px;
    background: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%); }
    .img-lesson .nb-minute > span {
      color: #1476C6;
      position: absolute;
      top: 30%;
      left: 30%;
      transform: translate(-50%, -50%); }

.name-lesson {
  padding-left: 18px;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  margin-bottom: 0; }
  .name-lesson > a {
    padding-top: 17px;
    display: block;
    transition: all 0.3s;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box; }
  .name-lesson .state-lesson {
    width: 9px;
    height: 9px;
    background: #a0a0a0;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 4px; }
    .name-lesson .state-lesson .txt-state-ls {
      position: absolute;
      bottom: 19px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 6px;
      background: #fff;
      padding: 6px 8px 6px 28px;
      box-shadow: 1px 8px 11px rgba(99, 99, 99, 0.4784313725);
      display: none; }
      .name-lesson .state-lesson .txt-state-ls:after {
        content: '';
        border-left: 4px solid transparent;
        border-top: 4px solid #fff;
        border-right: 4px solid transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%; }
      .name-lesson .state-lesson .txt-state-ls img {
        width: 13px;
        height: 13px;
        margin-right: 3px;
        position: absolute;
        left: 8px;
        top: 8px; }
      .name-lesson .state-lesson .txt-state-ls span {
        vertical-align: middle;
        white-space: nowrap; }
    .name-lesson .state-lesson:hover .txt-state-ls {
      display: block; }

.complete-view .state-lesson {
  background: #00990E; }
.complete-view .name-lesson > a {
  color: #1476C6; }

.uncomplete-view .state-lesson {
  background: #990000; }
.uncomplete-view .name-lesson > a {
  color: #1476C6; }

.element-lesson {
  margin-bottom: 18px; }
  .element-lesson:hover .img-lesson {
    transform: translateY(-10px);
    transition: all 0.3s;
    box-shadow: 1px 5px 18px rgba(0, 0, 0, 0.2392156863); }
    .element-lesson:hover .img-lesson:after {
      opacity: 1;
      transition: all 0.3s; }
  .element-lesson:hover .name-lesson > a {
    color: #1476C6;
    transition: all 0.3s; }

.view-more {
  height: 36px;
  line-height: 36px;
  border-radius: 30px;
  color: #fff;
  background: #A680D7;
  font-weight: 500;
  display: inline-block;
  padding: 0 35px;
  transition: all 0.3s; }
  .view-more:hover {
    color: #fff;
    transition: all 0.3s;
    box-shadow: 1px 5px 18px rgba(0, 0, 0, 0.2392156863); }

.class-9 .view-more {
  background: #A680D7; }

.rate-ob {
  margin-top: 9px;
  display: block; }
  .rate-ob i {
    color: #F99F00; }

.btn-wt {
  background: #fff;
  color: #218DD6;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 3px 8px rgba(152, 152, 152, 0.3215686275);
  padding: 10px 35px;
  margin-left: 7px; }
  .btn-wt:hover {
    background: #218DD6 url("../img/co-btn-white-02.svg") no-repeat;
    background-position: top right 12px;
    background-size: 8px 12px;
    color: #fff; }

.namesource-intro {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  color: #1476C6; }
  .namesource-intro.mb-27 {
    margin-bottom: 27px; }

.block-video-intro {
  box-shadow: 1px 3px 33px #999999; }

.intro-top {
  margin-bottom: 36px; }

.intro-video {
  width: 580px; }

.price-course {
  padding: 28px 0 42px; }
  .price-course h3 {
    font-weight: 700;
    color: #1476C6;
    margin-bottom: 0;
    font-size: 14px; }

.sub-course {
  margin-bottom: 35px; }

.target-course h3 {
  font-weight: 700;
  margin-bottom: 22px;
  font-size: 14px; }
.target-course p {
  margin-bottom: 19px; }

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: #1476C6;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }
  #back-to-top:hover {
    background: #08336b; }

footer {
  background: #0065C8 url("../img/bg-foot.png");
  padding: 66px 0 33px; }

.logo-foot {
  margin-bottom: 34px; }
  .logo-foot a {
    display: block;
    line-height: 20px; }
    .logo-foot a img {
      height: 27px; }

.slogan-compnany {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 18px;
  color: #FFDA00; }

.contact-company ul {
  margin-bottom: 32px; }
  .contact-company ul li {
    margin-bottom: 16px; }
    .contact-company ul li span {
      font-family: 'Roboto';
      font-size: 12px;
      color: #F2F5F9; }
    .contact-company ul li i {
      margin-right: 10px;
      color: #F2F5F9; }

.connect-footer a {
  margin-right: 15px; }
  .connect-footer a i {
    color: #FFDA00;
    font-weight: 700;
    font-size: 13px;
    transition: all 0.3s; }
  .connect-footer a:hover i {
    animation: 0.5s xoay forwards; }

.foot-right {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 70px;
  padding: 17px 48px;
  margin-top: 58px; }
  .foot-right .txt-register {
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFDA00;
    font-weight: 700; }
  .foot-right .email-regis {
    border-radius: 30px;
    background: #0065C8;
    border: none;
    width: 253px;
    height: 45px;
    outline: none;
    padding: 0 36px;
    color: #fff; }
    .foot-right .email-regis::-webkit-input-placeholder {
      /* Edge */
      color: #4FAEFC;
      font-style: italic; }
    .foot-right .email-regis:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #4FAEFC;
      font-style: italic; }
    .foot-right .email-regis::placeholder {
      color: #4FAEFC;
      font-style: italic; }

.coppy-right {
  margin-top: 57px;
  font-family: 'Roboto';
  font-size: 12px;
  color: #F2F5F9; }

.btn-regis-now {
  height: 45px;
  width: 253px;
  background: #FFDA00;
  color: #1476C6;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.3s; }
  .btn-regis-now:hover {
    box-shadow: 1px 2px 14px #838383;
    transition: all 0.3s; }

a.btn-scrolltop {
  position: fixed;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 37px;
  color: #fff;
  background: #0578e8;
  bottom: 15px;
  right: 15px;
  font-size: 25px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  display: none; }

.title-student {
  font-weight: 500;
  margin-bottom: 10px; }

.name-student {
  font-weight: 700;
  font-size: 22px;
  color: #1476C6;
  text-transform: uppercase;
  margin-bottom: 44px; }

.list-info {
  margin-bottom: 44px; }
  .list-info li {
    margin-bottom: 23px; }
    .list-info li label {
      display: block;
      margin-bottom: 15px;
      font-size: 12px;
      color: #1476C6;
      font-weight: 500; }
    .list-info li span {
      font-weight: 500; }

.name-user-hv {
  position: relative; }
  .name-user-hv > img {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: initial; }
  .name-user-hv > span {
    font-weight: 500;
    color: #1476C6; }
  .name-user-hv > i {
    margin-left: 15px;
    color: #1476C6; }
  .name-user-hv .name-main-user {
    cursor: pointer; }
  .name-user-hv:hover.name-main-user {
    text-decoration: underline; }
  .name-user-hv .block-ultility {
    display: none;
    padding-top: 18px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%); }
    .name-user-hv .block-ultility .element-ultility {
      display: block;
      background: #fff;
      border-radius: 3px;
      padding: 27px;
      width: 234px;
      box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.24); }
      .name-user-hv .block-ultility .element-ultility a {
        display: block;
        font-weight: 400;
        color: #000000;
        padding: 8px 0 12px; }
        .name-user-hv .block-ultility .element-ultility a:hover {
          color: #1476C6; }
      .name-user-hv .block-ultility .element-ultility .info-private {
        border-bottom: 1px solid #ADADAD; }
      .name-user-hv .block-ultility .element-ultility .link-changepass {
        padding: 15px 0 24px; }
      .name-user-hv .block-ultility .element-ultility .btn-blue {
        height: 35px;
        font-weight: 400; }
  .name-user-hv:hover .block-ultility {
    display: block; }

input[type="checkbox"][disabled="disabled"] {
  background: transparent; }

input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px; }

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #90BEE3;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 3px;
  background: #fff; }

input[type="checkbox"]:checked:after {
  background-color: #1476C6;
  border-color: #1476C6; }

input[type="checkbox"] ~ label {
  cursor: pointer; }

input[type="radio"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 7px 5px 8px 15px;
  float: left;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: none; }

input[type="radio"]:checked:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 22px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #bbb;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 50%;
  background: #fff; }

input[type="radio"]:checked:after {
  background-color: #F37021;
  border-color: #F37021; }

input[type="radio"]:checked {
  background: #f7f7f7; }

input[type="radio"]:checked ~ label {
  background: #f7f7f7; }

button[data-ripple] {
  position: relative; }

.btn-blue-dark {
  padding: 8px 17px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 1px 3px 11px rgba(21, 21, 21, 0.3215686275);
  color: #fff;
  background: #218DD6;
  border: none;
  transition: all 0.3s; }

.nestedCheckboxes {
  margin-bottom: 17px; }
  .nestedCheckboxes label {
    vertical-align: baseline; }
  .nestedCheckboxes > label {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
    color: #1476C6; }
  .nestedCheckboxes input {
    vertical-align: middle; }
  .nestedCheckboxes > ul > li {
    padding: 13px 25px;
    background: url("../img/bg-pg.png") repeat-y, url("../img/bg-pg-2.png") top 10px left no-repeat; }
    .nestedCheckboxes > ul > li:last-child {
      background: url("../img/bg-pg-3.png") no-repeat top left; }
    .nestedCheckboxes > ul > li:before {
      content: '';
      width: 1px; }
    .nestedCheckboxes > ul > li > label {
      color: #3d3d3d;
      font-weight: 700;
      margin-left: 5px; }
    .nestedCheckboxes > ul > li > ul > li {
      padding: 13px 25px 0;
      background: url("../img/bg-pg.png") repeat-y, url("../img/bg-pg-2.png") top 10px left no-repeat; }
      .nestedCheckboxes > ul > li > ul > li:last-child {
        background: url("../img/bg-pg-3.png") no-repeat top left; }
      .nestedCheckboxes > ul > li > ul > li > label {
        margin-left: 5px;
        color: #828282; }
      .nestedCheckboxes > ul > li > ul > li > ul {
        margin-left: 25px; }
        .nestedCheckboxes > ul > li > ul > li > ul li {
          padding: 13px 25px 0;
          background: url("../img/bg-pg.png") repeat-y, url("../img/bg-pg-2.png") top 10px left no-repeat; }
          .nestedCheckboxes > ul > li > ul > li > ul li:last-child {
            background: url("../img/bg-pg-3.png") no-repeat top left; }
          .nestedCheckboxes > ul > li > ul > li > ul li label {
            margin-left: 5px;
            margin-bottom: 13px; }
          .nestedCheckboxes > ul > li > ul > li > ul li > ul {
            margin-left: 25px; }
            .nestedCheckboxes > ul > li > ul > li > ul li > ul li label {
              margin-left: 5px; }

.nestedCheckboxes input[type="checkbox"][disabled="disabled"] {
  background: transparent; }

.nestedCheckboxes input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px; }

.nestedCheckboxes input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  display: table;
  width: 4px;
  height: 9px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nestedCheckboxes input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #1476C6;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 3px;
  background: #fff; }

.nestedCheckboxes input[type="checkbox"]:checked:after {
  background-color: #00990E;
  border-color: #00990E; }

.nestedCheckboxes input[type="checkbox"] ~ label {
  cursor: pointer; }

.slick-slide img {
  width: 100%; }

.slick-featured-lectures .item-lesson {
  transform: scale(0.7); }

.slick-featured-lectures .slick-slide {
  margin: 0 -70px; }

.slick-featured-lectures .slick-active .item-lesson {
  transform: scale(1);
  z-index: 1;
  position: relative;
  transition: all 0.3s 0.2s linear; }

.slick-featured-lectures .slick-list.draggable:before {
  content: '';
  background: #0065C8;
  width: 14px;
  height: 354px;
  position: absolute;
  left: 0;
  top: 49%;
  transform: translateY(-50%);
  z-index: 9; }

.slick-featured-lectures .slick-list.draggable:after {
  content: '';
  background: #0065C8;
  width: 14px;
  height: 354px;
  position: absolute;
  right: 0;
  top: 49%;
  transform: translateY(-50%);
  z-index: 9; }

.item-lesson {
  border: 19px solid #0065C8; }

.slick-featured-lectures .slick-active .item-lesson {
  border: none; }

.slick-bs-course .slick-prev {
  left: -42px; }
  .slick-bs-course .slick-prev:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    font-size: 37px;
    color: #C1C1C1;
    opacity: 1; }
  .slick-bs-course .slick-prev:hover:before {
    color: #0065C8; }
  @media (max-width: 1300px) {
    .slick-bs-course .slick-prev {
      left: 11px;
      z-index: 9; }
      .slick-bs-course .slick-prev:before {
        color: #fff;
        opacity: 1; }
      .slick-bs-course .slick-prev:hover:before {
        color: #fff; } }
.slick-bs-course .slick-next {
  right: -42px; }
  .slick-bs-course .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-size: 37px;
    color: #C1C1C1;
    opacity: 1; }
  .slick-bs-course .slick-next:hover:before {
    color: #0065C8; }
  @media (max-width: 1300px) {
    .slick-bs-course .slick-next {
      right: 11px;
      z-index: 9; }
      .slick-bs-course .slick-next:before {
        color: #fff;
        opacity: 1; }
      .slick-bs-course .slick-next:hover:before {
        color: #fff; } }
.slick-bs-course .slick-prev, .slick-bs-course .slick-next {
  top: 45%; }

.slick-featured-lectures .slick-prev {
  left: -42px; }
  .slick-featured-lectures .slick-prev:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    font-size: 37px;
    color: #C1C1C1;
    opacity: 1; }
  .slick-featured-lectures .slick-prev:hover:before {
    color: #0065C8; }
  @media (max-width: 1300px) {
    .slick-featured-lectures .slick-prev {
      left: 18px;
      z-index: 9; }
      .slick-featured-lectures .slick-prev:before {
        color: #fff;
        opacity: 1; }
      .slick-featured-lectures .slick-prev:hover:before {
        color: #fff; } }
.slick-featured-lectures .slick-next {
  right: -42px; }
  .slick-featured-lectures .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-size: 37px;
    color: #C1C1C1;
    opacity: 1; }
  .slick-featured-lectures .slick-next:hover:before {
    color: #0065C8; }
  @media (max-width: 1300px) {
    .slick-featured-lectures .slick-next {
      right: 18px;
      z-index: 9; }
      .slick-featured-lectures .slick-next:before {
        color: #fff;
        opacity: 1; }
      .slick-featured-lectures .slick-next:hover:before {
        color: #fff; } }
.slick-featured-lectures .slick-prev, .slick-featured-lectures .slick-next {
  top: 45%; }

.slick-text-research .slick-prev {
  right: 1px;
  left: auto; }
  .slick-text-research .slick-prev:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    font-size: 29px;
    color: #0065C8; }
.slick-text-research .slick-next {
  right: -34px; }
  .slick-text-research .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-size: 29px;
    color: #0065C8; }
.slick-text-research .slick-prev, .slick-text-research .slick-next {
  top: 108%; }

.slick-research .slick-next, .slick-research .slick-prev {
  display: none !important; }

/*# sourceMappingURL=main.css.map */
