// ======================================================
// Abstracts :: Variables
// ======================================================


//Colors picker
$c-bl: #1476C6;
$c-bll: #0065C8;
$c-yl: #FFDA00;
$c-wh: #fff;
$c-black: #1a1a1a;
$c-bb: #2C485B;
$c-bb: #2C485B;
$c-txt: #0D4C7F;
$c-gr: #00990E;
$c-lb: #D2EAFF;
$c-red: #BC171F;

$c-gray: #5F6775;
$c-or:  #D35416;
$c-59:#595959;
//Background color

//Font size
$fs-14: 14px;