// ======================================================
// Layout :: Grid
// ======================================================


.row-ss{
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-pc-6{
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}

.container{
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.row-flex{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.row-gd-54{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -27px;
}
.col-gd-73{
  padding: 0 27px;
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
  max-width: 73%;
  position: relative;
}
.col-gd-27{
  padding: 0 27px;
  -ms-flex: 0 0 27%;
  flex: 0 0 27%;
  max-width: 27%;
  position: relative;
}

.row-gd-44{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -22px;
}
.col-gd-35{
  padding: 0 22px;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
  position: relative;
}
.col-gd-65{
  padding: 0 22px;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
  position: relative;
}

