// ======================================================
// Layout :: Header
// ======================================================

.change-icon-mb{
  .line-1{
    transform: translateY(9px) translateX(0) rotate(45deg);
    transition: all 0.3s;
    @include lessdesktop{
      transform: translateY(8px) translateX(0) rotate(45deg);
    }
  }
  .line-2{
    opacity: 0;
    transition: all 0.3s;
  }
  .line-3{
    transform: translateY(-9px) translateX(0) rotate(-46deg);
    transition: all 0.3s;
    @include lessdesktop{
      transform: translateY(-6px) translateX(0) rotate(-46deg);
    }
  }
}
.header-gd{
  //background: #fff;
  box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.41);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  //position: absolute;
  //width: 100%;
  //top: 0;
  transition: all 0.3s;
  z-index: 99;
  &.fixed{
    transition: all 1s;
    position: fixed;
    top: 0;
    .head-wrap{
      padding: 13px 0;
      //transition: all 0.5s;
      .logo h1 a{
        line-height: 12px;
        img{
          height: 19px;
          transition: all 0s;
        }
      }
    }
  }
}


.block-connect{
  display: inline-block;
  margin-right: 47px;
  a{
    display: inline-block;
    margin-right: 12px;
    i{
      color: $c-bl;
      font-weight: 700;
      font-size: 13px;
      transition: all 0.3s;
    }
    &:hover{
      i{
        color: $c-yl;
        transition: all 0.3s;
      }
    }
    &:last-child{
      margin-right: 0;
    }
  }
  @include tablet{
    display: none;
  }
}
.head-wrap {
  padding: 37px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.3s;
  &.navShadow{
    padding: 15px 0;
    transition: all 0.3s;
    .block-logo{
      .logo{
        width: 79px;
        //transform: scale(0.7);
        transition: all 0.3s;
      }
    }
  }
  @include tablet{
    padding: 17px 0;
  }

}
.block-logo{
  //width: 182px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 999;
  transform: translateY(-50%);
  .logo{
    width: 130px;
    //transform: scale(1);
    transition: all 0.3s;
    @media (max-width: 1300px) {
      width: 100px;
      height: auto;
    }
  }
  @media (max-width: 1300px) {
    width: 150px;
    height: 100px;
  }
  @include tablet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    background: transparent;
    box-shadow: none;
    .logo{
      width: 85px;
    }
  }
}
.logo{
  h1{
    margin: 0;
    a{
      display: block;
      line-height: 20px;
      img{
        //height: 27px;
      }
    }
  }
}
.head-right{
  ul{
    li{

      display: inline-block;
      margin-right: 15px;
      >a{
        color: $c-bl;
        font-weight: 500;
        &:hover{
          text-decoration: underline;
        }
      }
      label{
        color: $c-bl;
        margin-right: 15px;
      }
      &:last-child{
        margin-right: 0;
      }
      &:first-child{
        margin-right: 24px;
      }
    }
  }
}
.wrap-search{
  position: relative;


  input{
    border: none;
    border-radius: 30px;
    width: 243px;
    height: 30px;
    padding: 5px 27px 5px 14px;
    color: #1476C6;
    outline: none;
    background: #EAF3FA;
  }
  .btn-search{
    position: absolute;
    right: 9px;
    border: none;
    background: none;
    top: 6px;
    font-size: 12px;
    color: #1476c6;
    >i{
      color: $c-bl;
      cursor: pointer;
    }
  }
}

.btn-bars{
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  .line{
    width: 23px;
    height: 3px;
    background: $c-bl;
    border-radius: 3px;
    display: block;
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }

  }
  @include tablet{
    display: block;
  }
}

@include tablet{

}