// ======================================================
// Components :: Button
// ======================================================
input[type="checkbox"][disabled="disabled"]{
  background: transparent;
}
input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px;
}
input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #90BEE3;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 3px;
  background: #fff;
}
input[type="checkbox"]:checked:after{
  background-color: $c-bl;
  border-color: $c-bl;
}
input[type="checkbox"]~label{
  cursor: pointer;
}
//radio
input[type="radio"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 7px 5px 8px 15px;
  //background: #f7f7f7;
  float: left;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: none;
}
input[type="radio"]:checked:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 22px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #bbb;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 50%;
  background: #fff;
}
input[type="radio"]:checked:after{
  background-color: #F37021;
  border-color: #F37021;
}
input[type="radio"]:checked{
  background: #f7f7f7;
}
input[type="radio"]:checked ~ label{
  background: #f7f7f7;
}


button[data-ripple]{
  position: relative;
}
.btn-blue-dark{
  padding: 8px 17px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 1px 3px 11px rgba(21, 21, 21, 0.3215686275);
  color: #fff;
  background: #218DD6;
  border: none;
  transition: all 0.3s;
}



.nestedCheckboxes {
  margin-bottom: 17px;
  label{
    vertical-align: baseline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > label {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
    color: $c-bl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  input {
    vertical-align: middle;
  }

  > ul {



    > li {
      padding: 13px 25px;
      background: url("../img/bg-gr-02.png") top left 10px repeat-y, url("../img/bg-gr-01.png") top 21px left 10px no-repeat;
      &:last-child{
        background: url("../img/bg-gr-03.png") no-repeat top left 10px;
      }
      &:before{
        content: '';
        width: 1px;

      }
      > label {
        color: #3d3d3d;
        font-weight: 700;
        margin-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }

      > ul {
        > li {
          padding: 13px 25px 0;
          background: url("../img/bg-gr-02.png") top left 10px repeat-y, url("../img/bg-gr-01.png") top 21px left 10px no-repeat;
          &:last-child{
            background: url("../img/bg-gr-03.png") no-repeat top left 10px;
          }
          > label {
            margin-left: 5px;
            color: #828282;
            display: block;
          }

          > ul {
            margin-left: 25px;

            li {
              padding: 13px 25px 0;
              background: url("../img/bg-gr-02.png") top left 10px repeat-y, url("../img/bg-gr-01.png") top 21px left 10px no-repeat;
              &:last-child{
                background: url("../img/bg-gr-03.png") no-repeat top left 10px;
              }
              label {
                margin-left: 5px;
                margin-bottom: 13px;
                display: block;
              }

              > ul {
                margin-left: 25px;

                li {
                  label {
                    margin-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


.nestedCheckboxes input[type="checkbox"][disabled="disabled"] {
  background: transparent;
}

.nestedCheckboxes input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px;
}

.nestedCheckboxes input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  display: table;
  width: 4px;
  height: 9px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nestedCheckboxes input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid $c-bl;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 3px;
  background: #fff;
}

.nestedCheckboxes input[type="checkbox"]:checked:after {
  background-color: #00990E;
  border-color: #00990E;
}

.nestedCheckboxes input[type="checkbox"] ~ label {
  cursor: pointer;
}