// ======================================================
// Components :: Button
// ======================================================
input[type="checkbox"][disabled="disabled"]{
  background: transparent;
}
input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px;
}
input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #90BEE3;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 3px;
  background: #fff;
}
input[type="checkbox"]:checked:after{
  background-color: $c-bl;
  border-color: $c-bl;
}
input[type="checkbox"]~label{
  cursor: pointer;
}
//radio
input[type="radio"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 7px 5px 8px 15px;
  //background: #f7f7f7;
  float: left;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: none;
}
input[type="radio"]:checked:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 22px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #bbb;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 50%;
  background: #fff;
}
input[type="radio"]:checked:after{
  background-color: #F37021;
  border-color: #F37021;
}
input[type="radio"]:checked{
  background: #f7f7f7;
}
input[type="radio"]:checked ~ label{
  background: #f7f7f7;
}


button[data-ripple]{
  position: relative;
}