// ======================================================
// Components :: Slider
// ======================================================\
//.slider {
//  width: 50%;
//  margin: 100px auto;
//}
//
//.slick-slide {
//  margin: 0px 20px;
//}
//
//.slick-slide img {
//  width: 100%;
//}
//
//.slick-prev:before,
//.slick-next:before {
//  color: black;
//}
//
//
//.slick-slide {
//  transition: all ease-in-out .3s;
//  opacity: .2;
//}
//
//.slick-active {
//  opacity: .5;
//}
//
//.slick-current {
//  opacity: 1;
//}



.slick-slide img{
  width: 100%;
}
.slick-featured-lectures  .item-lesson{
  transform: scale(0.7);
}
.slick-featured-lectures  .slick-slide{
  margin: 0 -70px;
}

.slick-featured-lectures .slick-active  .item-lesson{
  transform: scale(1);
  z-index: 1;
  position: relative;
  transition: all 0.3s 0.2s linear;
}
.slick-list.draggable:before {
  content: '';
  background: $c-bl;
  width: 10px;
  height: 356px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.slick-list.draggable:after {
  content: '';
  background: $c-bl;
  width: 10px;
  height: 356px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.item-lesson {
  border: 15px solid $c-bl;
}
.slick-featured-lectures .slick-active .item-lesson{
  border: none;
}